.container {
    padding: 0;
    margin: 0;
}

.bar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 4rem;
    padding: 0 2rem;
    box-shadow: 0 1px 10px rgb(95, 95, 95);
}

.title {
    display: flex;
}

.title h1 {
    cursor: default;
    color: #ab2900;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.buttons button {
    background-color: white;
    font-size: 20px;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.buttons button:hover {
    background-color: rgba(168, 35, 0, 0.75);
    color: #ffffff;
    transition: 0.2s;
}

.buttons button:active {
    background-color: #a12701;
    transition: none;
}

.page {
    padding: 2rem 0;
}
